name: Inno Store Web UI

on:
  push:
    branches:
      - main
    paths:
      - 'inno-store-webui/**'
      - '.github/workflows/inno-store-webui.yml'
  workflow_dispatch:

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: inno-store-webui

    steps:
      - uses: actions/checkout@main

      - name: Set up Node.js version
        uses: actions/setup-node@v1
        with:
          node-version: '12.x'

      - name: npm install, build, and test
        run: |
          npm install
          npm run build --if-present

      - name: 'Deploy to Azure Web App'
        uses: azure/webapps-deploy@v2
        with:
          app-name: 'inno-store-webui'
          slot-name: 'production'
          publish-profile: ${{ secrets.AZURE_PUBLISHPROFILE_APP_WEBUI }}
          package: 'inno-store-webui'
