name: Inno Store Backend API

on:
  push:
    branches:
      - main
    paths:
      - 'inno-store-api/**'
      - '.github/workflows/inno-store-api.yml'
  workflow_dispatch:

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: inno-store-api

    steps:
      - uses: actions/checkout@main

      - name: Set up Node.js version
        uses: actions/setup-node@v1
        with:
          node-version: '12.x'

      - name: npm install, build, and test
        run: |
          npm install
          npm run build
          npm run test

      - name: 'Deploy to Azure Web App'
        uses: azure/webapps-deploy@v2
        with:
          app-name: 'inno-store-01-app-api'
          slot-name: 'production'
          publish-profile: ${{ secrets.AZURE_PUBLISHPROFILE_APP_API }}
          package: 'inno-store-api'
          startup-command: 'npm start'
