name: Inno Store Functions

on:
  push:
    branches:
      - main
      - functions
    paths:
      - 'inno-store-functions/**'
      - '.github/workflows/inno-store-functions.yml'
  workflow_dispatch:

env:
  AZURE_FUNCTIONAPP_PACKAGE_PATH: 'inno-store-functions'
  NODE_VERSION: '12.x'

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@main

      - name: 'Login via Azure CLI'
        uses: azure/login@v1
        with:
          creds: ${{ secrets.AZURE_CREDENTIALS }}

      - name: Setup Node ${{ env.NODE_VERSION }} Environment
        uses: actions/setup-node@v1
        with:
          node-version: ${{ env.NODE_VERSION }}

      - name: 'Resolve Project Dependencies Using Npm'
        shell: bash
        run: |
          pushd './${{ env.AZURE_FUNCTIONAPP_PACKAGE_PATH }}'
          npm install
          npm run build
          npm run test --if-present
          popd

      - name: 'Run Azure Functions Action'
        uses: Azure/functions-action@v1
        id: fa
        with:
          app-name: '${{ secrets.PROJECT_NAME }}-functions'
          slot-name: 'production'
          package: ${{ env.AZURE_FUNCTIONAPP_PACKAGE_PATH }}
          # Sevice Principal deploments not yet supported in Azure/functions-action@v1
          # see https://github.com/Azure/functions-action/issues/67#issuecomment-789447687
          publish-profile: ${{ secrets.AzureAppService_PublishProfile_bdf77d5dda0e421188aca21a213c6a8c }}
